*{
  margin: 0.5vw;
  padding: 0,1vw;

}
body {
    background-image: url('https://telegra.ph/file/69312aae60fbe35609d7d.jpg');
  background-size: 100vw;
}
section {
display: grid;
grid-template-columns: repeat(2, 40vw);
grid-template-rows: repeat(3, 15vh);
grid-column-gap: 20px;
grid-row-gap: 20px;
  position: relative;
  bottom: -30vh;
  justify-content: center;
  justify-items: center;
}
button {
  height: 15vh;
  width: 33vw;
}
#fol {
	background-image: url('https://telegra.ph/file/78848458ebd7b7180d677.jpg');
	background-size: 105%;
}
#lm {
	background-image: url('https://telegra.ph/file/adffdea9e5edffc496728.jpg');
	background-size: 105%;
}
#gbd {
	background-image: url('https://telegra.ph/file/4d28686008d16a679f5c7.jpg');
	background-size: 105%;
}
#fh {
	background-image: url('https://telegra.ph/file/df0c7f5b2fee62e035921.jpg');
	background-size: 100%;
}
#iso {
	background-image: url('https://telegra.ph/file/465de0cab27cf69fd0d56.jpg');
	background-size: 105%;
}
#par {
	background-image: url('https://telegra.ph/file/460c723f43339d7d183a6.jpg');
	background-size: 100%;
}
#imagen {
	width: 40vw;
	opacity: 0.7;
}
.imagen {
	position: absolute;
	left: 30vw;
}
